# adding id to a header
snippet id Adds the id and custom id properties
    :PROPERTIES:
    :ID: ${UUID}
    :END:

snippet customid Adds the id and custom id properties
    :PROPERTIES:
    :ID: ${UUID}
    :CUSTOM_ID: $0
    :END:
